@{
    ViewBag.Title = "Parola Onayını Unuttum";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Parolanızı sıfırlamak için lütfen e-postanızı kontrol edin.
        </p>
    </div>
</main>
